{erl_opts, [
  {platform_define, "R17",
    'old_inets'}]
}.
{erl_opts, [
  encrypt_debug_info,
  native,
  {hipe, [o3]},
  {d,debug},
  {parse_transform, lager_transform},
  {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
  {platform_define, "(linux|freebsd)", 'BACKLOG', 128}
]}.

{deps,
  [
    {platfrom, ".*", {git, "https://github.com/276361270/platfrom.git", {branch, "master"}}},
    {cowboy, ".*", {git, "https://github.com/276361270/cowboy.git", {branch, "master"}}},
    {erlware_commons, ".*", {git, "https://github.com/276361270/erlware_commons.git", {branch, "master"}}},
    {sync, ".*", {git, "https://github.com/276361270/sync.git", {branch, "master"}}}

  ]
}.

{relx, [{release, {'gateway', "0.1.1"},
  [
    sasl,
    tools,
    wx,
    observer,
    stdlib,
    runtime_tools,
    inets,
    et,
    erts,
    mnesia,
    platfrom,
    gateway
  ]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]
}.